<a href="https://colab.research.google.com/github/jberkow713/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/Jberkow_Assignment1_unit_3_sprint_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#1) Total characters: 302
SELECT
  count(name) as character_count -- > counts actual unique values
FROM charactercreator_character

In [0]:
#Fighter---68
SELECT 
 count(character_ptr_id) as fighter_count
 from charactercreator_fighter
 #Cleric---75
 SELECT 
 count(character_ptr_id) as cleric_count
 from charactercreator_cleric
 #Mage---108
 SELECT 
 count(character_ptr_id) as mage_count
 from charactercreator_mage
 #Necromancer--11
 SELECT 
 count(mage_ptr_id) as necromancer_count
 from charactercreator_necromancer
 #Thief---51
 SELECT 
 count(character_ptr_id) as thief_count
 from charactercreator_thief

In [0]:
#174 items total
SELECT 
 count(item_id) as item_count
 from armory_item

In [0]:
#37 weapons
SELECT 
 count(item_ptr_id) as weapon_count
 from armory_weapon
 #leaving 137 of the remaining 174 as non-weapons

In [0]:
#How many Items does each character have? (Return first 20 rows)


SELECT 
  character_id
,count(distinct item_id) as item_count
from charactercreator_character_inventory
GROUP BY character_id
ORDER BY item_count DESC
#Limit 20 = first 20 counts

In [0]:
#weapons for each player, all weapons are between 138-174
SELECT 

character_id

,count(distinct item_id) as weapon_count
from charactercreator_character_inventory
where item_id between 138 and 174
group by character_id

limit 20

In [0]:
# average items per person
SELECT ROUND(1.0 * COUNT(id) / 
                        COUNT( DISTINCT character_id), 3) 
                  AS 'Avg. Items/Character'   
           FROM charactercreator_character_inventory

#first decimal in round, allows for multiplicative and decimal orientation, last number after parentheses, tells how many decimals

In [0]:
# average weapons per person
#can not figure out this question

NameError: ignored